@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    For my Contact details please visit my LinkedIn address at<br />
    <a href="https://www.linkedin.com/in/steven--shahbazi/">My LinkedIn</a> <br />
</address>